*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-widht: 600px){
    body{
        width: 50%;
        height: 200%;
        display: flex;
        flex-wrap: wrap;
    }
    .logo-box{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
}

/* Nach mehreren Versuchen mit mediaqueries, habe ich es leider aufgrund der Zeit pünktlich nicht geschafft. Ich hoffe, wir werden das Thema morgen besprechen und eingehen.*/

/* header ***********************/
.header-background{
    background: url(../img/img/ilustracion1.png) right/ contain no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-box{
    width: 15vw;
    height: 5vh;
    padding-top: 20px;
    padding-left: 14vh;
}
.logo-box p{
    font-weight: 700;
    font-size: 3vh;
    line-height: .7em;
}
.logo-box span{
    font-weight: 400;
    font-size: 2vh;
}
.logo{
    position: fixed;
    width: 10vw;
    height: 5vh;
    padding-top: 20px;
}
.rocket{
    height: 5vh;
}

.head{
    padding-top: 40vh;
    padding-left: 8%;
    width: 50%;
}
.head-box{
    display: flex;
}

.head h1{
    font-size: 5.5#EC3E71 bvw;
    font-weight: 700;
    margin-bottom: 15px;
}

.ilust-people{
    height: 80vh;
    animation: pulse 0.6s  ease infinite;
}
@keyframes pulse{
    0%{ margin-top: -5vh;}
    20%{ margin-top: -4vh;}
    40%{margin-top: -3vh;}
    60%{margin-top: -2vh;}
    80%{margin-top: -3vh;}
    100%{margin-top: -4vh;}
}
 .scroll{
     color:#F63572;
     margin-left: 8%;
    position: absolute;
    bottom: 2vh;
 }

/* main ******************************/

.gallery{
    width: 100%;
    height: 100vh;
}

 .idea-box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around   ;
}

.idea-box h1{
    width: 40vw;
    height: 25vh;
    font-size: 9vh;
    align-self: center;
    justify-self: center;
}
.idea-box p{
    width: 40vw;
    height: 60vh;
    font-size: 2.1vh;
    line-height: 2em;
}

.idea-box h2{
    width: 60vw;
    height: 45vh;
    font-size: 8.5vh;
    align-self: center;
    justify-self: center;   
}

/* title ***************************/

.title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title-img{
    height: 4vh;
}

.title-ideas,.title-design,.title-share,.title-start{
    width: 40%;
    height: 30vh;
    padding-top: 40px;
}

.title-ideas p,.title-design p,.title-share p,.title-start p{
    font-size: 2.2vh;
    line-height: 6vh;
}

.title-ideas h6,.title-design h6,.title-share h6,.title-start h6{
    font-size: 3.8vh;
    padding-bottom: 3px;
    padding-left: 10px;
}

.title-start img, .title-design img{
    position: absolute;
    left: 4.5vw;
}

.title-ideas img, .title-share img{
    position: absolute;
    left: 51.2vw;
}

.title-share,.title-design{
    padding-top: -20px;
}

/* steps *************************/

.lets-go{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps-nummber{
    margin: 8vh 0;
    color: #DDDDDD;
    font-size: 9vh;
}
.steps h2{
    padding-bottom: 2vh;
}
.steps p{
    line-height: 1.7em;
}
.step-one, .step-three, .step-two, .step-four{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.step-one div, .step-three div, .step-two div, .step-four div{
    width: 40%;
}
.step-one-img, .step-three-img, .step-two-img, .step-four-img{
    width: 40vw;
}

/* footer ***************************/

.footer{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer h1{
    font-weight: 700;
    font-size: 6vh;
    margin: -100px 0 100px;
}
.footer p{
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: 100px;
}

.email{
    height: 10vh;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
    text-align: center;
    font-size: 2.5vh;
    color: rgba(0, 0, 0, 0.719);
}

.sub{
    background-color: #F63572;
    height: 8vh;
    width: 22vw;
    margin-top: 8vh;
    color: white;
    font-size: 2.5vh;
    border-radius: 5px;
}
.sub:hover{
    background-image: linear-gradient(to right,#EC3E71,#482ebc)
}

footer p:last-child{
    margin-left: 5vw;
    margin-bottom: 5vh;
}



